@charset "UTF-8";
    
body{
    background-color: silver;
    margin: 0%;
}

header{
    text-align: center;
    margin: 0%;
}
nav{
    
    text-align: center;
    background-color: blueviolet;
    margin: 0%;
}
nav a {
    margin-right: 10px ;
    text-decoration: none;

}
    
    
